<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.commontime.fileencryption">

<uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="25" />

    <application>
    	<activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:label="" android:launchMode="singleTop" android:name="com.commontime.cordova.plugins.fileencryption.EncryptedImageViewerActivity" android:theme="@style/CustomActionBarTheme" android:windowSoftInputMode="adjustResize">
        </activity>
    </application>

</manifest>